.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  margin-bottom: 2vh;
}

.text-wrapper > span {
  margin-right: 2vw;
}
