
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-left: 10px;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

.toggle-box {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.toggle-box.active {
    background-color: #4cae4c;
}

.toggle-box span {
    font-size: 20px;
}

.date-picker {
    display: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.date-picker.active {
    display: block;
}

.date-picker label {
    display: block;
    margin-bottom: 10px;
}

.date-picker input[type="date"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.photo-upload label {
    margin-bottom: 10px;
}

.photo-upload input[type="file"] {
    display: none;
}

.photo-upload button {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.photo-upload button:hover {
    background-color: #4cae4c;
}

.save-btn {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #4cae4c;
}