body {
    width: 375px;
    height: 812px;
    border: 1px solid red;
}

.header-title {
    font-size: 32px;
    margin-left: 35px;
    display: block;
    font-weight:600;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #D9D9D9;
}

.header-left {
    display: flex;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    
    margin-top: 50px;
}


.login {
    margin-top:59px;
    margin-bottom: 122px;
    text-align: center;
    font-size: 40px;
    font-weight:40;
}

.inputInfo{
    margin-left: 33px;;
}
label {
    margin-top: 10px;
}

input {
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    margin-left: 33px;;
    border-bottom: 1px solid #F3969A;
    font-size: 16px;
}

input:focus {outline:none;}
/* input 박스 누를 시 검은border없애기 */

.back-button {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    padding: 0;
}

.back-button img {
    width: 100%;
    height: 100%;
}

/* button:hover {
      background-color: #005fa3;
  } */

.pink-button {
    width: 157px;
    height: 65px;
    background-color: #F3969A;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 103.98px;
    margin-left: 120px;
    font-size: 16px;
    cursor: pointer;
}