.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(146, 184, 177, 0.2);
  height: 90vh;
  width: 100%;
}

.top_header {
  margin-bottom: 15vh;
  font-size: 4vh;
  font-weight: bold;
  padding-left: 3vh;
  text-align: left;
}
